
<div class="clinic_form">
<%= render partial: "admin/common/show_table" , locals: {
  id: "patient",
  resource: @patient,
  fields: [
    {t: "", v: proc{|a| 
    	text_field_tag "patient[name]", a.name, placeholder: "病患姓名(必填)"
    }},
    {t: "", v: proc{|a| 
    	r = ""
    	r += select_field_tag "patient[gender]", a.gender, [[nil, "病患性別(必填)"]] + Patient.genders.map{|a,b| [a,a]}
    	r += text_field_tag "patient[person_id]", a.person_id, placeholder: "身分證號碼(必填)"
    	r.html_safe
    }},
    {t: "", v: proc{|a| 
    	r = ""
    	r += select_field_tag "patient[default_doctor_id]", a.default_doctor_id, [[nil, "看診醫師"]] + @clinic.doctors.map{|a| [a.name, a.name]}
    	r += select_field_tag "patient[health_insurance_status]", a.health_insurance_status, [[nil,"健保狀況"]] + Patient.health_insurance_statuses.map{|a| [a,a]}
    	r.html_safe
    }},
    {t: "", v: proc{|a|
    	r = "病患生日（必填）"
    	r += "民國" + select_field_tag("patient[roc_year]", roc_year(a.birthday) || 100, (50..Date.today.year).map{|y| [y,y]}) + "年"
    	r += select_field_tag("patient[month]", a.birthday.try(:month) || 1, (1..12).map{|m| [m,m]}) + "月"
    	r += select_field_tag("patient[day]", a.birthday.try(:day) || 1, (1..31).map{|d| [d,d]}) + "日"
    	r.html_safe
    }},
    {t: "", v: proc{|a| 
    	text_field_tag "patient[phone]", a.phone, placeholder: "聯絡電話1（必填）"
    }},
    {t: "", v: proc{|a| 
    	text_field_tag "patient[phone2]", a.phone2, placeholder: "聯絡電話2（必填）"
    }},
    {t: "", v: proc{|a| 
    	text_field_tag "patient[address]", a.address, placeholder: "地址"
    }},
    {t: "", v: proc{|a| 
    	text_field_tag "patient[note]", a.note, placeholder: "備註"
    }},
    {t: "", v: proc{|a| 
    	link_to "+ 未加入推播列表", class: "btnW"
    }},
  ]
}
%>
</div>