
<li class="selected">
	<%= form_tag url_for(action: :update), method: "patch", remote: true do %>
	<%= text_field_tag "clinic_line_knowledge_category[name]", @clinic_line_knowledge_category.name, autofocus: true %>
	<% end %>
</li>
