
<div id="clinc_line_account_lightbox" class="lightbox">
	<div class="inbox">
		<div class="header_box">
		</div>
		<div class="content_box">
			<p>掃描QR code進行綁定，並在智慧型手機輸入電話號碼。</p>
			<div class="qrcode_box">
			</div>
		</div>
		<div class="buttons_box">
			<%= link_to "關閉", "$('#clinc_line_account_lightbox').remove();", class: "btnBu" %>
		</div>
	</div>
</div>

