
#linebot-doctors-show {
	.image_box {
		text-align: center;
		background: #e6e6e6;
		min-height: 300px;
		line-height: 200px;
		img {
			display: block;
			width: 100%;
		}		
	}
	.info-box {
		top: 220px;
		width: 100%;
		position: fixed;
		max-width: calc(500px - 40px);
		.title-box {
			height: 100px;
			background: $colorW;
			text-align: center;
			padding: 10px 0;
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
			h1 {
				font-size: $fs_36p;
				font-weight: bold;
			}
			h2 {
				font-size: $fs_18p;
			}
		}
		.detail-box {
			height: calc(100vh - 220px - 100px);
			background: $colorW;
			padding: 10px 20px;
			overflow: scroll;
			ul {
				li {
					padding-bottom: 20px;
					h3 {
						font-size: $fs_20p;
						color: $colorBl;
					}
					p {
						font-size: $fs_14p;
						color: $colorGy_l;
					}
				}
			}
		}
		.not-found-box {
			text-align: center;
			h4 {
				font-size: 60px;
				line-height: 100px;
				font-weight: bold;
				color: $colorBu;
			}
			p {
				font-size: $fs_24p;
				color: $colorBu_l;
			}
		}
	}
}