<div id="patients_index">
	<%= render_relative_partial "index/navbar" %>
	<div class="patient_main_box">
		<%= render_relative_partial "index/search_box" %>
		<%= render_relative_partial "index/table_box" %>
		<%= render_relative_partial "index/pagination" %>
	</div>
</div>
