<div id="patients-index">
	<%= render_relative_partial "index/navbar" %>
	<div class="main-box">
		<%= render_relative_partial "index/search_box" %>
		<%= render_relative_partial "index/table_box" %>
	</div>
</div>
