<div id="patients_index">
	<%= render_relative_partial "index/navbar" %>
	<div class="patient_main_box">
		<%= render_relative_partial "index/search_box" %>
		<%= render_relative_partial "index/table_box" %>
		<%= render_relative_partial "index/pagination" %>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$("#patients_index").on("change", ".notification_check", function(){
			updateChecked(this);
			updateCount();
		});
		$("#patients_index").on("change", ".notification_check_all", function(){
			var checked = this.checked;
			$("#patients_index .notification_check").each(function(i, elm){
				$(elm)[0].checked = checked;
				updateChecked(elm);
			})
			updateCount();
		});
		function updateChecked(input){
			var checked = input.checked;
			$(input).siblings().each(function(i, elm){
				elm.checked = checked;
			})
		}

		function updateCount(){
			var count = $("#patients_index .notification_check:checked").length;
			$("#search_box .number").text(count);
		}
	})
</script>
