<div id="event-nav">
  <i class="fas fa-search" id="search-icon" onclick="showSearch()"></i>
  <div id="search">
    <i class="fas fa-search" id="search-img"></i>
    <input type="text" placeholder="搜尋" id="search-input">
  </div>
  <i class="fas fa-bell" onclick="showNews()"><div class=""></div></i>
  <div id="news">
    <div class="news-inner">
      <div>
        <span>更新通知</span>
        <span>全部已讀 (5)</span>
			</div>
		</div>
  </div>
  <form id="reset-notify-form" action="/news" accept-charset="UTF-8" data-remote="true" method="post">
  	<input name="utf8" type="hidden" value="✓">
    <input type="submit" name="commit" value="完成" class="confirm" data-disable-with="完成">
	</form>
</div>