
#clinic_nav {
	.notification {
		position: relative;
		z-index: 10000;
		#clinic_notification_box {
			position: absolute;
			width: 330px;
			padding: 15px;
			top: calc(60px);
			right: 0;
			background: $colorGy_l;
			display: none;
			line-height: 1.2;
			box-shadow: -2px 12px 18px 0 rgba(99, 99, 99, 0.5);
			&.selected {
				display: block;
			}
			.inbox {
				height: calc(100vh - 60px);
				overflow-y: scroll;
				ul {
					li {
						padding: 10px;
						margin-bottom: 10px;
						color: $colorGy;
						background: $colorW;
						text-align: left;
						.title {
							font-size: $fs_14p;
							padding-bottom: 10px;
							.name {
								font-weight: bold;
								margin-right: 5px;
							}
						}
						.content {
							font-size: $fs_12p;
							padding-bottom: 5px;
						}
						.date {
							font-size: $fs_12p;
						}
					}
				}
			}
		}		
	}
}
