
<div id="context_menu">
	<ul class="new_mode">
		<li class="new">新增</li>
		<li class="broadcast">洗牙推播</li>
	</ul>
	<ul class="edit_mode">
		<%#<li class="edit">編輯</li>%>
		<li class="remove">取消預約</li>
	</ul>	
  <ul class="broadcast_mode">
    <li class="remove">取消預約</li>
  </ul> 
</div>

<script type="text/javascript">
	$(function(){
		var contextMenu = $("#context_menu");
		var eventId, doctorId, date, hour, minute;
    $("body")[0].addEventListener('contextmenu', function(e) {
      if(!$(e.target).closest('#calendar_day').length > 0){
        contextMenu.removeClass("selected");
        return;
      }
      e.preventDefault();
      var patientElm = function(){
      	if($(e.target).is(".patient_event")){
      		return $(e.target);
      	} else {
      		return $(e.target).closest(".patient_event")
      	}
      }();
      var x = e.clientX;
      var y = e.clientY;
      contextMenu.css({top: y, left: x});
      contextMenu.addClass("selected");

      mode = patientElm.data("mode");

      contextMenu.find(".new_mode").addClass("hidden");
      contextMenu.find(".edit_mode").addClass("hidden");
      contextMenu.find(".broadcast_mode").addClass("hidden");
      if(mode == "new"){
      	contextMenu.find(".new_mode").removeClass("hidden");
      	doctorId = patientElm.data("doctor_id");
      	date = patientElm.data("date");
      	hour = patientElm.data("hour");
      	minute = patientElm.data("minute");
      } else if(mode == "exist") {
        contextMenu.find(".edit_mode").removeClass("hidden");
        eventId = patientElm.data("id");
      } else {
        contextMenu.find(".broadcast_mode").removeClass("hidden");
        eventId = patientElm.data("id");
      }
    }, false);
    contextMenu.find(".new").click(function(){
    	$.ajax({
    		url: "<%= url_for(action: :new) %>",
    		method: "get",
    		dataType: "script",
    		data: {
    			doctor_id: doctorId,
    			date: date,
    			hour: hour,
    			minute: minute,
    			duration: 15
    		}
    	});
    });
    contextMenu.find(".remove").click(function(){
    	OkCancelLightbox.show({
    		content: "確定移除?",
    		ok: function(){
    			$.ajax({
    				url: "<%= url_for(action: :destroy, id: "tmp") %>".replace("tmp", eventId),
    				method: "delete",
    				dataType: "script",
    				data: {}
    			})
    		}
    	})
    });
   //  contextMenu.find(".edit").click(function(){
			// $.ajax({
			// 	url: "<%# url_for(action: :edit, id: "tmp") %>".replace("tmp", eventId),
			// 	method: "get",
			// 	dataType: "script",
			// })
   //  });
    contextMenu.find(".broadcast").click(function(){
      $.ajax({
        url: "<%= new_clinic_lightbox_event_notification_schedule_path(@clinic) %>",
        method: "get",
        data: {
          event_notification_schedule: {
            category: "回診推播",
            schedule_type: "排程發送",
            doctor_id: doctorId,
            date: date,
            hour: hour,
            minute: minute,
            duration: 60
          }
        }
      })
    });
    $("body").click(function(){
    	contextMenu.removeClass("selected");
    })
	})
	
</script>

