
<div id="date_search_nav">
  <%= hidden_field_tag "segment", @segment, id: "segment_input" %>
  <ul class="date_select">
    <% @range_segments.each do |segment| %>
    <li>
      <%= link_to segment, "", 
        class: "day_btn #{"selected" if segment == @segment}", 
        onclick: "event.preventDefault(); $('#segment_input').val('#{segment}'); window.reloadFrame();" %>
    </li>
    <% end %>
  </ul>
</div>

