
<div id="event_duration_ligthbox" class="lightbox bg_width">
	<div class="inbox">
		<div class="header_box" onclick="$(this).closest('.lightbox').remove();">
			看診時間系統
		</div>
		<div class="content_box">
			<div class="calendar_day_container">
				<%= render_relative_partial "calendar_day/doctor_lightbox", locals: {row_height: 40} %>
			</div>
		</div>
	</div>
</div>
