

#patient_line_messages_box {
	height: 100%;
	overflow-y: scroll;
	ul {
		background: $colorBu_l;
		li {
			margin-bottom: 10px;
			.text {
				padding: 5px;
				display: inline-block;
				border-radius: 5px;
				max-width: 70%;
				border: 1px solid $colorGy_l;
				font-size: $fs_12p;
				line-height: 1.2;
			}
			&.client {
				text-align: right;
				.text {
					background: $colorBu;
					color: $colorW;					
				}
			}
			&.host {
				text-align: left;
				.text {
					background: $colorW;
					color: $colorGy_d;					
				}
			}
		}
	}
}
