<div id="events-index">
	<div class="main-box">
		<%= render_relative_partial "index/doctors_nav" %>
		<%= render_relative_partial "index/date_search_nav" %>
		<%= render_relative_partial "index/calendar" %>
	</div>
	<div class="side-box">
		<%= render_relative_partial "index/calendar_detail" %>		
	</div>
</div>
