<div id="events-index">
	<h1>看診日曆</h1>
	<%= render_relative_partial "common/navbar" %>
	<div class="content_box">
		<%= render_relative_partial "index/calendar" %>
		<%= render_relative_partial "index/calendar_detail" %>
	</div>
</div>
