
.vacations_form .side_box #event_notifications_box {
	background: $colorBu_l;
	padding: 0 10px;
	max-height: 500px;
	>.title {
		text-align: center;
		font-weight: bold;
		height: 40px;
		line-height: 40px;
	}
	>.content_box {
		height: calc(500px - 140px);
		.events_box {
			overflow-y: scroll;
			height: calc(100% - 60px);
			table {
				width: 100%;
				font-size: $fs_12p;
				line-height: $lh_20p;
				td {
					color: $colorGy;
					.title {
						font-size: $fs_14p;
					}
					.value {
						font-size: $fs_12p;
						line-height: 1;
					}
				}
				th {
					&.notification_check {
						width: 30px;
					}
					background-color: rgba(204, 204, 204, 0.21);
					padding: 3px 0;
				}
				select {
					border: none;
					background: $colorW;
				}
			}				
		}
		.preview_box {
			height: 60px;
			padding: 10px;
	 		.sending_box {
				text-align: center;
				height: 60px;
				line-height: 60px;
			}
		}
	}
}