<div id="members_index">
	<div class="container">
		<div class="button-box alignR" style="padding: 20px 0;">
			<%= link_to "新增會員", url_for(action: :new), class: "btnBu", remote: true %>
		</div>
		<%= render partial: "clinics/common/clinic_table" , locals: {
		  id: "members",
		  class: "",
		  resources: @members,
		  cols: [
		    {t: "使用者名稱", v: proc{|a| 
		    	bg_center_image a.photo_url, class: "bg_colorGy1"
		    }},
		    {t: "使用者名稱", v: proc{|a| a.username }},
		    {t: "權限", v: proc{|a| a.level }},
		    # {t: "", v: proc{|a|
		    # 	link_to "變更", url_for(action: :show, id: a), class: "btnW"
		    #  }},
		  ],
		  row: {
		  	link: proc { |a|
		  		url_for(action: :show, id: a)
		  	}
		  }
		}
		%>
	</div>
</div>

