
<div id="clinic_info">
  <%= form_tag url_for(action: :update), method: "patch", class: "inbox form_border clinic_form clinic_form_box", remote: true do %>
    <div class="content_box">
      <%= render partial: "clinics/common/clinic_form_table" , locals: {
        id: "clinic_info-table",
        resource: @member,
        fields: [
          # {t: "照片", v: proc{ |a| 
          #   r = "<div class='clinic_photo_box'>"
          #   r += bg_center_image @clinic.photo_url
          #   r += image_tag common_static_image_url(:pic_edit3), class: "pic_edit", onclick: "$.getScript('#{new_clinic_info_photo_path(@clinic)}');"
          #   r += "</div>"
          #   r += "<span class='photo_note'>請上傳 200 * 200 px 以上的照片</span>"
          #   r.html_safe
          # }},
          {t: "註冊信箱", v: proc{|a| 
            text_field_tag "member[email]]", a.email
          }},
          # {t: "clinic_duration_id", v: proc{|a| a.clinic_duration_id }},
          {t: "使用者名稱", v: proc{|a| 
            text_field_tag "member[username]", a.username
          }},
          {t: "密碼", v: proc{|a| 
            text_field_tag "member[password]", ""
          }},
        ]
      }
      %>
    </div>
    <div class="form_buttons_box">
      <%= submit_tag "儲存", class: "btnBu" %>
    </div>
  <% end %>
</div>

