
<table id="<%= id %>">
	<tr>
		<% cols.each do |col| %>
		<th>
			<%= col[:t] %>
		</th>
		<% end %>
	</tr>
	<% resources.each do |resource|%>
	<tr>
		<% cols.each do |col| %>
		<td>
			<%= col[:v].call(resource) %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
