
<table id="doctors_table">
	<tr>
		<% cols.each do |col| %>
		<th>
			<%= col[:t] %>
		</th>
		<% end %>
	</tr>
	<% resources.each do |resource|%>
	<tr data-url="<%= row[:link].call(resource) if local_assigns[:row].present? %>" onclick="$(this).data('url') && (window.location.href=$(this).data('url'));">
		<% cols.each do |col| %>
		<td>
			<%= col[:v].call(resource) %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>
