

<div id="clinic_knowledge_categories_index">
	<div class="knowledge_categories_box">
		<ul class="knowledge_categories">
		<% @clinic_line_knowledge_categories.each do |clinic_line_knowledge_category| %>
			<%= render_relative_partial "show/clinic_line_knowledge_category", locals: {clinic_line_knowledge_category: clinic_line_knowledge_category} %>
		<% end %>
		</ul>
	</div>
	<div id="clinic_knowledge_categories_show">
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$.getScript("<%= url_for(action: :show, id: @clinic_line_knowledge_category) %>")
	});
</script>

