
#accounts {
  background-image: linear-gradient(126deg, #36c2dc 14%, #44a2e7 87%);
  .account_lightbox {
  	position: fixed;
	  top: 50px; 
	  left: 50%; 
	  transform: translate(-50%,0); 
	  -webkit-transform: translate(-50%,0);
	  h1 {
	  	text-align: center;
			font-size: 40px;
			line-height: 56px;
			color: $colorW;
			padding-bottom: 44px;
	  }  	
	  .inbox {
	  	width: 560px;
	  	padding: 0 60px;
		  box-shadow: 0 4px 30px 0 rgba(94, 94, 94, 0.5);
		  background-color: #ffffff;
	    border-radius: 10px;
	    .login-box {
	    	padding: 10px 0;
	    	.field {
	    		padding-top: 30px;
	    		label {
	    			font-size: $fs_14p;
	    			color: $colorGy1;
	    			padding-bottom: 6px;
	    		}
    			input[type=email], input[type=password] {
    				font-size: $fs_20p;
    				width: 100%;
    				padding-bottom: 3px;
    				border: none;
    				box-shadow: none;
    				border-bottom: 1px solid $colorBu;
    				background: $colorW;
    			}
	    	}
	    	.actions {
	    		padding-top: 40px;
	    		input {
	    			width: 100%;
	    			height: 50px;
	    			line-height: 1;
	    		}
	    	}
	    }
	  }  	
  }
	.field {
		padding: 10px 0;
		width: 300px;
		margin: 0 auto;
	}
	.actions {
		width: 300px;
		padding: 10px 0;
		text-align: right;
		margin: 0 auto;
	}
}
