
<div id="event_created_lightbox" class="lightbox">
	<div class="inbox">
		<div class="header_box">
		</div>
		<div class="content_box">
			<h1><%= icon_tag(:check_circle) %></h1>
			<h2>預約&新增病患成功</h2>
			<p>此病患沒有綁定Line，須先綁定帳號才能傳送訊息。</p>
			<p>請問您是否進行綁定？</p>
			<p class="pt10 colorGy1">刷QRcode，輸入手機號碼即可綁定成功喔！</p>
		</div>
		<div class="buttons_box">
			<%= link_to "略過", "javascript: $('#event_created_lightbox').remove()", class: "btnW" %>
			<%= submit_tag "馬上綁定", class: "btnBu" %>
		</div>
	</div>
</div>
