
<div id="doctors_show">
  <%= link_to clinic_doctors_path(@clinic), class: "back" do %>
    <i class="fas fa-angle-left"></i><p>返回醫師列表</p>
  <% end %>
  <div class="content_box">
    <div id="doctors_show-container">
      <%= form_tag url_for(action: :update), method: :patch, class: "clinic_form" do %>
      <%= render partial: "admin/common/show_table" , locals: {
        id: "doctor",
        resource: @doctor,
        fields: [
          {t: "醫師姓名", v: proc{|a|
            r = "<div class='flx'>"
            r +=  text_field_tag "doctor[name]", a.name 
            r +=  text_field_tag "doctor[title]", a.title
            r += "</div>"
            r.html_safe
          }},
          {t: "主治", v: proc{|a| 
            text_area_tag "doctor[pro]", a.pro 
          }},
          {t: "學經歷", v: proc{|a| 
            text_area_tag "doctor[experience]", a.experience 
          }},
          {t: "網頁連結", v: proc{|a| 
            text_field_tag "doctor[web_link]", a.web_link 
          }},
          {t: "聯絡電話", v: proc{|a| 
            text_field_tag "doctor[phone]", a.phone 
          }},
          {t: "備註", v: proc{|a| 
            text_field_tag "doctor[note]", a.note
          }},
        ]
      }
      %>
      <% end %>
    </div>
  </div>
</div>