	
$colors: (
	colorW: #fff,
	colorBl: #000,
	colorGy_d: #8c96ab,
	colorGy: #4a4a4a, 
	colorGy_l: #6f6f6f, 
	colorR_d: rgb(190, 50, 50),
	colorR: #e56277,
	colorR_l: rgb(210, 150, 150),
	colorGn: rgb(100, 200, 160),
	colorGn_l: rgb(184, 233, 134),
	colorBu_d: #1d506d,
	colorBu: #12a7fb,
	colorBu_l: #e7f2f8,
	colorY: #f5a623
);
$colorW: #fff;
$colorBl: #000;
$colorGy_d: #8c96ab;
$colorGy: #4a4a4a; 
$colorGy_l: #6f6f6f;; 
$colorR_d: rgb(190, 50, 50);
$colorR: #e56277;
$colorR_l: rgb(210, 150, 150);
$colorGn: rgb(100, 200, 160);
$colorGn_l: rgb(184, 233, 134);
$colorBu_d: #1d506d;
$colorBu: #12a7fb; 
$colorBu_l: #e7f2f8;
$colorY: #f5a623;


@each $key, $color in $colors {
	.#{$key}, .#{$key} a { color: $color; } 
	.hover_#{$key}:hover { color: $color; } 
	.bg_#{$key} { background-color: $color; } 
	.hover_bg_#{$key}:hover { background-color: $color; } 
	.border_#{key} { border-color: $color; }
};

.border {
	border: solid 1px #eee;	
}
a:hover {
	color: $colorGn;  
}


