
$colors: (
	colorW: #fff,
	colorBl: #000,
	colorGy: #5B5B5B, /*灰色*/
	colorGy_m: #ADADAD, /*中淺灰*/
	colorGy_l: #D0D0D0, /*淺灰*/
	colorGy_l1: #fafafa,
	colorGy_border: #e6e6e6,
	colorPk: #FF20A6, /*粉紅色*/
	colorR: #f7535e,
	colorR_l: #f7535e,
	/*colorGn: #2a923f,*/
	colorGn: #0052BC, /*湖水藍綠*/
	colorBn: #A0522D, /*褐色*/
	colorBu: #537895, /*冷寶藍色*/ 
	colorBu_d: #000080, /*深寶藍色*/ 
	colorY: #da9021,
	colorY_l: #FFF5EE
);
$colorW: #fff;
$colorBl: #000;
$colorGy: #5B5B5B; /*灰色*/
$colorGy_m: #ADADAD; /*中淺灰*/
$colorGy_l: #D0D0D0; /*淺灰*/
$colorGy_l1: #fafafa;
$colorGy_border: #e6e6e6;
$colorPk: #FF20A6; /*粉紅色*/
$colorR: #f7535e;
$colorR_l: #f7535e;
/*$colorGn: #2a923f;*/
$colorGn: #0052BC; /*湖水藍綠*/
$colorBn: #A0522D; /*褐色*/
$colorBu: #537895; /*冷寶藍色*/ 
$colorBu_d: #000080; /*深寶藍色*/ 
$colorY: #da9021;
$colorY_l: #FFF5EE;


@each $key, $color in $colors {
	.#{$key}, .#{$key} a { color: $color; } /*ex: .colorGn; */
	.hover_#{$key}:hover { color: $color; } /*ex: .hover_coloGn */
	.bg_#{$key} { background-color: $color; } /*ex: .bg_coloGn */
	.hover_bg_#{$key}:hover { background-color: $color; } /*ex: .bg_coloGn */
	.border_#{key} { border-color: $color; }
};

.border {
	border: solid 1px #eee;	
}
a:hover {
	color: $colorGn;  
}


