
#clinic_doctor_doctor_services_index {
	.head-box {
		padding-bottom: 10px;
		.note {
			color: $colorGy1;
			display: inline-block;
		}		
	}
	table.clinic_table {
		tr {
			td {
				height: 50px;
				line-height: 50px;
				select {
					margin-top: 5px;
					height: 40px;
					line-height: 40px;
					border: 1px solid $colorGy1;
				}
				.toggle_switch {
					position: relative;
					top: 10px;
				}
			}
		}
	}
}
