
<div id="doctor_vacations_index">
<%= render partial: "clinics/common/vacations_form", locals: {
	vacations: @doctor_vacations, 
	li: proc do |doctor_vacation|
		render_relative_partial "index/tr", locals: {doctor_vacation: doctor_vacation}
	end
} %>
</div>

<script type="text/javascript">
	$(function(){
		if($("#doctor_vacations_index .main_box ul li").length > 0){
			$("#doctor_vacations_index .main_box ul li").eq(0).trigger("click");
		}
	})
</script>
