
#patients_index #search_box {
	padding: 20px 0;
	form {
		display: flex;
		justify-content: space-between;
		.input_box {
			width: calc(100% - 150px);
			input[type=text] {
				height: 40px;
				width: 100%;
				padding-left: 10px;
			}
		}
		input[type=submit] {
			height: 40px;
			width: 100px;
		}
		select {
			height: 40px;
			line-height: 40px;
			margin-right: 10px;
			background: $colorW;
		}
		a.push_notification {
			margin-right: 10px;
			width: 180px;
		}
		a.new_patient {
			margin-left: 10px;
			width: 180px;
		}
	}
}

#search_box {
	.input_box {
		position: relative;
		.search_result {
			position: absolute;
			width: 100%;
			background: $colorW;
			z-index: 10;
			overflow-y: scroll;
			ul {
				li {
					display: flex;
					justify-content: space-between;
					padding: 10px;
					cursor: pointer;
					border-bottom: 1px solid $colorGy1;
					span:not(:first-child) {
						margin-left: 10px;
					}
					&:hover {
						background: $colorGy_l;
					}
					span {
						display: inline-block;
						line-height: 1.3;
						font-size: $fs_12p;
						&:nth-child(1){
							width: 50px;
						}
						&:nth-child(2){
							width: 80px;
						}
						&:nth-child(3){
							width: 80px;
						}
						&:nth-child(4){
							width: 80px;
						}
					}
				}
			}
		}		
	}	
}
