
#patients-table {
	.d-row {
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		display: flex;
		justify-content: space-between;
		width: 100%;
		&:first-child {
			background: $colorBu_l; 
			border-top: 1px solid #cccccc;
		}
		.d-col {			
			text-align: center;
			height: 80px;
			line-height: 20px;
			padding: 30px 10px;			
		}
	}
}
