<% items = [
  {name: "診所", link: admin_dev_clinics_path},
  {name: "醫生", link: admin_dev_doctors_path},
  {name: "會員", link: admin_dev_members_path},
  {name: "病患", link: admin_dev_patients_path},
  {name: "項目", link: admin_dev_services_path},
  {name: "預約掛號", link: admin_dev_booking_events_path},
  {name: "掛號", link: admin_dev_events_path},
  {name: "掛號通知", link: admin_dev_notification_event_notification_schedules_path},
  {name: "LINE帳號", link: admin_dev_line_accounts_path},
  {name: "Linebot", link: new_admin_dev_linebot_path},
  {name: "樣式", link: admin_dev_styles_path},
] %>

<div id="admin_navbar" style="position: fixed; top: 0;; width: 100%;" class="bg_colorBl">
	<ul class="inbox" style="width: 100%; text-align: center;">
		<% items.each do |item| %>
		<% if request.path == item[:link] %>
		<li style="display: inline-block; margin: 0 10px;">
			<%= link_to item[:name], item[:link], class: "colorY" %>
		</li>
		<% else %>
		<li style="display: inline-block; margin: 0 10px;">
			<%= link_to item[:name], item[:link], class: "colorW" %>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>
<div class="admin_navbar_padding" style="height: 40px; margin-bottom: 40px"></div>
