#clinic_info {
  background: $colorW;
  >.inbox {
    width: 80%;
    margin: 20px auto;
    >.content_box {
      table {
        tr {
          td {
            .line_qrcode_box {
              padding-top: 10px;
              display: flex;
              .qrcode {
                margin-right: 40px;
                p {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}


