#clinic_info {
  background: $colorW;
  >.inbox {
    width: 80%;
    margin: 20px auto;
    >.content_box {
      table {
        tr {
          td {
          }
        }
      }
    }
    .buttons_box {
      margin-top: 20px;
      text-align: right;
    }
  }
}


