
#clinic_event_form {
	.inbox {
		max-width: 800px;
		.clinic_event_form_inbox {
			.content_box {
				.patient_box {
					padding: 10px 40px;
					border: 2px solid $colorBu;
					border-radius: 10px;
					&.disabled {
						background: $colorGy_l;
					}
				}
				.event_box {
					padding: 10px 40px;
					.patient_list {
						text-align: left;
						a {
							color: $colorBu;
							text-decoration: underline;
						}
					}
				}
				#search_box {
					width: 100%;
				}
				#duration_field {
					display: flex;
					span {
						margin-right: 10px;
					}
					.link_box {
						border-bottom: 1px solid $colorGy1;
						width: 70%;
						text-align: left;
						a {
							color: $colorBu;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.e_row {
		display: flex;
		padding-bottom: 20px;
		.field {
			width: 100%;
			margin-right: 10px;
			input, select {
				width: 100%;
			}
		}
		&.date {
			select {
				width: auto;
			}
		}
	}
}

