
#events_index {
	form {
		display: flex;
		.main_box {
			width: calc(100% - 360px);
			padding: 25px;
		}
		.side_box {
			width: 360px;
			padding-left: 20px;
			padding-right: 20px;
			background: $colorGy_l;
		}
	}
}
