
#clinic-event-new {
	.e-row {
		display: flex;
		padding-bottom: 20px;
		.field {
			width: 100%;
			margin-right: 10px;
			input, select {
				width: 100%;
			}
		}
		&.date {
			select {
				width: auto;
			}
		}
	}
}

