
<p class="fs12">說明： </p>
<p class="fs12 ml6">"新增官方帳號", "填寫LINE帳號代碼", 請前往 
  <%= link_to "LINE官方帳號網址", "https://developers.line.biz/console/", target: "_blank", class: "colorBu" %></p>

<% dev_title = proc do |title|
  r = title
  if @clinic.line_channel_id.present?
    r += link_to "參考網址", "https://developers.line.biz/console/channel/#{@clinic.line_channel_id}/basics", target: "_blank", class: "colorGn"
  else
    r += " <span class='colorGn'>請填寫channel，將會出現參考網址</span>"
  end
  r.html_safe 
end %>
<% liff_title = proc do |title|
  r = title
  if @clinic.line_channel_id.present?
    r += link_to "參考網址", "https://developers.line.biz/console/channel/#{@clinic.line_channel_id}/liff", target: "_blank", class: "colorGn"
  else
    r += " <span class='colorGn'>請填寫channel，將會出現參考網址</span>"
  end
  r.html_safe
end %>


<%= render partial: "admin/common/show_table" , locals: {
  id: "clinic",
  resource: @clinic,
  mode: mode,
  fields: [
    {k: "id", v: proc{|a| a.id }},
    {t: "填表狀態", v: proc{|a| 
      status = a.line_urls_complete
      if status == "已完成"
        status = "<span class='colorGn'>#{status}</span>"
      else
        status = status.gsub(" ", "<br>")
      end
      status.html_safe
    }},
    {t: "LINE帳號代碼", v: proc{|a| a.line_account_id }, e: proc{|a|
        text_field_tag("clinic[line_account_id]", a.line_account_id)
    }},
    {t: proc do 
        r = "Channel"
        if @clinic.line_account_id.present?
          r += link_to "參考網址", "https://manager.line.biz/account/#{@clinic.line_account_id}/setting/messaging-api", target: "_blank", class: "colorGn"
        else
          r += " <span class='colorGn'>請填寫LINE帳號代碼，將會出現參考網址</span>"
        end
        r.html_safe
      end.call, v: proc{|a| a.line_channel_id }, e: proc{ |a|
      text_field_tag "clinic[line_channel_id]", a.line_channel_id
    }},
    {t: proc do
      r = "line_channel_secret"
      if @clinic.line_account_id.present?
        r += link_to "參考網址", "https://manager.line.biz/account/#{@clinic.line_account_id}/setting/messaging-api", target: "_blank", class: "colorGn"
      else
        r += " <span class='colorGn'>請填寫LINE帳號代碼，將會出現參考網址</span>"
      end
      r.html_safe      
    end.call, v: proc{|a| a.line_channel_secret }, e: proc{ |a|
        text_field_tag "clinic[line_channel_secret]", a.line_channel_secret
    }},
    {t: dev_title.call("line_channel_access_token"), v: proc{|a| a.line_channel_access_token }, e: proc{ |a|
        text_field_tag "clinic[line_channel_access_token]", a.line_channel_access_token
    }},
    {t: liff_title.call("Liff網址 預約時間"), v: proc{|a| a.line_liff_event_url }, e: proc{ |a|
        text_field_tag "clinic[line_liff_event_url]", a.line_liff_event_url
    }},
    {t: liff_title.call("Liff網址 醫生資訊"), v: proc{|a| a.line_liff_doctor_url }, e: proc{ |a|
        text_field_tag "clinic[line_liff_doctor_url]", a.line_liff_doctor_url
    }},
    {t: liff_title.call("Liff網址 綁定病患"), v: proc{|a| a.line_liff_patient_url }, e: proc{ |a|
        text_field_tag "clinic[line_liff_patient_url]", a.line_liff_patient_url
    }},
  ]
}
%>
