
<table class="clinic_table <%= local_assigns[:class] %>">
	<tr>
		<% cols.each do |col| %>
		<th>
			<%= col[:t] %>
		</th>
		<% end %>
	</tr>
	<% resources.each_with_index do |resource, index|%>
	<tr>
		<% cols.each do |col| %>
		<td <%= "onclick=\"window.location.href= '#{row[:link].call(resource)}'\"".html_safe if local_assigns[:row] && !col[:unclickable] %>>
			<%= col[:v].call(resource, index) %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>


