
<table id="clinic_table">
	<tr>
		<% cols.each do |col| %>
		<th>
			<%= col[:t] %>
		</th>
		<% end %>
	</tr>
	<% resources.each do |resource|%>
	<tr onclick="window.location.href= '<%= row[:link].call(resource) %>'">
		<% cols.each do |col| %>
		<td>
			<%= col[:v].call(resource) %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>


