
<div class="vacations_form">
	<div class="main_box clinic_form">
		<ul>
			<% vacations.each do |vacation| %>
			<%= li.call(vacation) %>
			<% end %>
		</ul>
		<div class="add_btn_box alignR">
			<%= link_to "新增", url_for(action: :new), class: "btnBu", remote: true %>
		</div>
	</div>
	<div class="side_box">
		<div class="title">
			休診期間已約診病患
		</div>
		<div class="content_box">
		</div>
		<div class="preview_box">
			<div class="preview_dialog">
				<%= ClinicLine::System.clinic_vacation_change_note %>
			</div>
			<div class="sending_box">
				<%= link_to "送出", "", class: "btnBu" %>
			</div>
		</div>
	</div>
</div>

