
<div id="clinic-table">
	<div class="d_row">
		<% cols.each do |col| %>
		<div class="d_col">
			<%= col[:t] %>
		</div>
		<% end %>
	</div>
	<% resources.each do |resource|%>
	<div class="d_row">
		<% cols.each do |col| %>
		<div class="d_col">
			<%= col[:v].call(resource) %>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
