
<div id="clinic-table">
	<div class="d-row">
		<% cols.each do |col| %>
		<div class="d-col">
			<%= col[:t] %>
		</div>
		<% end %>
	</div>
	<% resources.each do |resource|%>
	<div class="d-row">
		<% cols.each do |col| %>
		<div class="d-col">
			<%= col[:v].call(resource) %>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
