<div id="linebot_patients_form">
	<div class="inbox">
		<h1>用戶確認</h1>
		<div class="image_box">
			<%= image_tag linebot_static_image_url(:line_has_patient) %>
		</div>
		<div class="content_box">
			<div class="d_row">
				<p>您的LINE已經綁定帳戶</p>
				<p>名稱: <%= @line_account.patient.name %></p>
			</div>
			<div class="buttons_box">
				<%= link_to "加入linebot", @clinic.add_line_friend_path, class: "btnBu" %>
			</div>
		</div>
	</div>
</div>