
<div id="event_created_lightbox" class="lightbox clinic_lightbox">
	<div class="inbox">
		<div class="header_box">
		</div>
		<div class="content_box">
			<div><%= image_tag clinic_static_image_url(:checked_blue), class: "checked_blue" %></div>
			<h2>變更完成</h2>
		</div>
		<div class="buttons_box">
			<%= link_to "確定", "javascript: $('#event_created_lightbox').remove();", class: "btnBu" %>
		</div>
	</div>
</div>


