
<div class="login_box">
	<h2>
		重新設定密碼
	</h2>

  <div class="field">
		<div class="image_box">
			<%= image_tag accounts_static_image_url(:email_sent) %>
		</div>
  </div>

  <div class="subtext">
		我們已經將密碼寄到您的Email信箱囉！
  </div>
</div>

