<div id="doctors_index">
	<div class="container">
		<div class="button-box alignR" style="padding: 20px 0;">
			<%= link_to "新增醫生", url_for(action: :new), class: "btnBu" %>
		</div>
		<%= render partial: "clinics/common/clinic_table" , locals: {
		  id: "doctors",
		  class: "",
		  resources: @doctors,
		  cols: [
		    {t: "圖片", v: proc{|a|
		    	fixed_height_image a.photo_url
		    }},
		    {t: "醫師名稱", v: proc{|a| a.name }},
		    {t: "職稱", v: proc{|a| a.title }},
		    {t: "主治", v: proc{|a| short_string(a.pro, 10) }},
		    {t: "看診日", v: proc{|a| 
		    	a.doctor_duration_wdays.map do |wday|
		    		ch_wday(wday)
		    	end.join("").gsub("週","")
		    }},
		    {t: "聯絡電話", v: proc{|a| a.phone }},
		    {t: "資料填寫完成度", v: proc{|a|
		    	a.form_complete_note
		     }},
		  ],
		  row: {
		  	link: proc {|a| url_for(action: :show, id: a)}
		  }
		}
		%>
	</div>
</div>

