<div id="doctors_index">
	<div class="container">
		<div class="button-box alignR" style="padding: 20px 0;">
			<%= link_to "新增醫生", url_for(action: :new), class: "btnBu" %>
		</div>
		<%= render partial: "clinics/common/clinic_table" , locals: {
		  id: "doctors",
		  class: "ht80",
		  resources: @doctors,
		  cols: [
		    {t: "圖片", v: proc{|a|
		    	image_tag a.photo_url, alt: a.name, style: "width: 100px;"
		    }},
		    {t: "名稱", v: proc{|a| a.name }},
		    {t: "職銜", v: proc{|a| a.title }},
		    {t: "經歷", v: proc{|a| short_string(a.experience, 10) }},
		    {t: "主治", v: proc{|a| short_string(a.pro, 10) }},
		    {t: "", v: proc{|a|
		    	link_to "詳細資料", url_for(action: :show, id: a)
		     }},
		  ],
		  row: {
		  	link: proc {|a| url_for(action: :show, id: a)}
		  }
		}
		%>
	</div>
</div>

