
<div id="doctors_show">
  <div class="content_box">
    <div id="doctors_show_container">
      <%= form_tag url_for(action: :create), method: :post, class: "clinic_form clinic_form_box", remote: true do %>
      <%= render_relative_partial "info/common/form" %>
      <div class="buttons_box">
        <%= submit_tag "儲存", class: "btnBu" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
