
<div id="doctors_show">
  <div class="content_box">
    <div id="doctors_show_container">
      <%= form_tag url_for(action: :create), method: :post, class: "clinic_form clinic_form_box", remote: true do %>
      <div class="content_box">
        <%= render_relative_partial "info/common/form" %>
      </div>
      <div class="buttons_box form_buttons_box">
        <%= submit_tag "儲存", class: "btnBu" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    window.listenerInputChangeNotification({
      inputs: $("#doctors_show").find("input,select"),
      leaveLinks: $("#clinic_sidemenu a, .show_page_nav a, #show_layout_sidemenu a"),
      saveBtn: $("#doctors_show .save_btn")
    })
  });
</script>
