
.clinic_form {
	input[type=text], textarea, select, .field {
		width: 100%;
		border: 0;
		border-bottom: 1px solid $colorGy1;
		color: $colorGy;
		background: none;
	}
}

.clinic_form_box {
  border-radius: 10px;
  border: 1px solid $colorGy;
  padding: 20px;
  table {
    tr {
      td {
        border-top: 0;
        vertical-align: middle;
        a {
          color: $colorBu;
          text-decoration: underline;
        }
        &:first-child {
          width: 100px;
        }
        &:nth-child(2) {
          width: calc(100% - 100px);
        }
				.both {
					input, select {
						&:nth-child(1) {
							margin-right: 10px;
						}
						&:nth-child(2) {
							margin-left: 10px;
						}
					}
				}
      }
    }
  }
}
