
#calendar-details {
  background-color: rgba(218, 223, 234, 0.1);
}

#calendar-details #calender-view {
  width: 80%;
  margin: 0 auto;
}

#calendar-details #pick-date-form-1 {
  display: none;
}

#calendar-details .dp-permanent .dp {
  border: none;
  background-color: transparent;
}

#calendar-details .dp-permanent header {
  background-color: transparent;
}

#calendar-details .dp-prev, #calendar-details .dp-next {
  color: #60b8b7;
}

#calendar-details .dp-permanent footer {
  display: none;
}

