#events-index #calendar_day {
	padding: 0 20px;
	.table_box {
		width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 30px;	
  	display: flex;
  	justify-content: space-between;
    .d-col {
    	.d-row {
    		min-width: 70px;
    		text-align: center;
				vertical-align: middle;
	    	&.border1 {
			    border-bottom: 1px solid #8c96ab;
	    	}
	    	&.border2 {
					border-bottom: 1px solid #dadfea;
	    	}
	    	&.border3 {
			    border-bottom: 1px dashed #dadfea;
	    	}
				&.hour {
					width: 60px;
				}
    	}
    	&:first-child {
    		.d-row {
					border-bottom: none;
					position: relative;
					top: 20px;
    		}
    	}
    }
    .patient_event {
    	width: 100%;
    	position: relative;
    	vertical-align: middle;
    	padding: 2px 5px;
    	margin: 0 0;
    	border-radius: 5px;
			display: inline-block;
			cursor: pointer;
			&.web {
				color: $colorW;
				background-image:  linear-gradient(to bottom, #4ccdea, #2193b0);
			}
			&.counter {
				color: $colorW;
				background-image: linear-gradient(to bottom, #a7bfe8, #6190e8);				
			}
			&:hover {
				color: $colorGy_l;
			}
			.patient {
				font-size: $fs_14p;
				line-height: 1.2;
			}
			.service {
				font-size: $fs_12p;
				line-height: 1.2;
			}
			.status {
				position: absolute;
				right: 0px;
				bottom: -7px;
				.check_in {
					color: $colorGn;
					display: none;
					&.selected {
						display: block;
					}
				}
				.break {
					color: $colorR;
					display: none;
					&.selected {
						display: block;
					}
				}				
			}
    }
  }
}