#calendar_day {
	height: calc(100% - 10px);
	overflow-y: scroll;
	padding: 0 20px;
	.table_box {
		width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 30px;	
  	display: flex;
  	justify-content: space-between;
  	.d_block {
  		display: flex;
  		width: 33%;
  		.d_col {
  			&:nth-child(1) {

  			}
  			&:nth-child(2) {
  				min-width: 150px;
  			}
  		}
  	}
    .d_col {
    	&.title_col {
    		text-align: center;
    	}
    	.d_row {
    		min-width: 70px;
    		text-align: center;
				vertical-align: middle;
    		display: flex;	
	    	&.border1 {
			    border-bottom: 1px solid #8c96ab;
	    	}
	    	&.border2 {
					border-bottom: 1px solid #dadfea;
	    	}
	    	&.border3 {
			    border-bottom: 1px dashed #dadfea;
	    	}
				&.hour {
					width: 60px;
				}
	    	&.day_row {
	    		background: $colorBu_l;
	    		color: $colorW;
    			text-align: center;
    			color: $colorGy_d;
	    		p {
	    			line-height: 40px;
	    			margin: 0 auto;
	    		}
	    	}
	    	&.vacation {
	    		background: $colorGy1;
	    	}
    	}
    	&:first-child {
    		.d-row {
					border-bottom: none;
					position: relative;
					top: 20px;
    		}
    	}
    }
    .patient_event {
    	width: 100%;
    	position: relative;
    	vertical-align: middle;
    	margin: 0 0;
    	border-radius: 5px;
			display: inline-block;
			cursor: pointer;
		  &.exist {
	    	padding: 2px 5px;
		  	color: $colorW;
		    background-image: linear-gradient(to bottom, #a7bfe8, #6190e8);
		    &:hover {
		    	position: relative;
		    	&:after {
		    		position: absolute;
		    		content: '';
		    		top: 0;
		    		left: 0;
		    		bottom: 0;
		    		right: 0;
	 		      background-color: rgba(74, 74, 74, 0.45);
	 		      z-index: 10;
	 		      pointer-event: none;
		    	}
		    }
		  }
		  &.new {
		  	&:hover {
		  		background-color: rgba(18, 167, 251, 0.2);
		  	}
		  }
		  &.broadcast {
		  	background-color: #a4bde8;
		  	color: $colorW;
		  }
			&:hover {
				color: $colorGy_l;
			}
		  .expired_cover {
	  	  background-color: rgba(255, 255, 255, 0.6);
	  	  position: absolute;
	  	  top: 0;
	  	  left: 0;
	  	  right: 0;
	  	  bottom: 0;
	  	  z-index: 10;
		  }
			.info {
				line-height: 1.2;
				text-align: left;
				.patient {
					font-size: $fs_14p;
				}
				.service {
					font-size: $fs_12p;
				}				
			}
			.status {
				position: absolute;
				right: 3px;
				bottom: 0px;
				line-height: 1;
				img {
					height: 15px;
				}
				>div {
					display: none;
					&.selected {
						display: block;
					}					
				}
			}
    }
  }
}