
#events_index {
	#date-search-nav {
		padding-bottom: 30px;
		ul.date-select {
			display: flex;
			height: 36px;
			line-height: 36px;
			li {
				width: 72px;
				height: 100%;
				box-sizing: border-box;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				text-align: center;
				&:first-child {
					border-left: 1px solid #ccc;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					a {					
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
					}
				}
				&:last-child {
					border-right: 1px solid #ccc;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					a {					
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
					}
				}
				a {
					display: block;
					height: 100%;
					&.selected {
						color: $colorW;
						background: $colorBu;
					}
				}
			}
		}
	}
}