
#events_index #list {
	height: 100%;
	.title {
		height: 32px;
		line-height: 32px;
		font-size: $fs-16p;
		font-weight: bold;
		a {
			padding: 5px 10px;
			font-size: $fs_14p;
		}
	}	
	.note {
		height: 24px;
		line-height: 24px;
		font-size: $fs_12p;
		text-align: right;
		border-bottom: 1px solid $colorGy;
	}
	.table_box {
		overflow-y: scroll;
		height: calc(100% - 32px - 24px);
		.title_row {
			font-size: $fs_12p;
		}
		.e_row {
			display: flex;
			width: 100%;
			.e_col {
				width: 68px;
				text-align: center;
			}
		}
		.segment {
			.title {
				font-size: $fs_12p;
				color: $colorGy;
			}
			.content {
				background: $colorW;
				.e_row {
					font-size: $fs_14p;
					&:first-child {
						border-top: 1px solid $colorGy;	
					}
					border-left: 1px solid $colorGy;
					border-right: 1px solid $colorGy;
					border-bottom: 1px solid $colorGy;
					.e_col {
						.check_in {
							color: #d8d8d8;
							&.selected {
								color: $colorGn;
							}
						}
						.break {
							color: #d8d8d8;
							&.selected {
								color: $colorR;
							}
						}
					}
				}
			}
		}
	}
}


