#events-index #calendar1 {
  position: relative;
  width: 70%;
  display: inline-block;
  vertical-algin: top;
  height: calc(100vh - 80px);
  overflow: scroll;
  font-size: 20px;
  > h1 {
    font-size: 36px;
    color: #4a4a4a;
    font-weight: 500;
    margin: 15px;
    text-align: center;
  }
  #custom-select {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .time-interval {
    text-align: center;
    button {
      width: 81px;
      height: 41px;
      border-radius: 30px;
      color: #4a4a4a;
      font-size: 24px;
      border: none;

      &.selected {
        background-color: #60cdff;
        color: #fff;
      }
    }
  }
  #calendar-border, #calendar-patients {
    width: 90%;
    border-collapse: collapse;
    position: absolute;
    top: 130px;
    left: 5%;
    margin-bottom: 30px;  

    tr {
      height: 38px;        
    }
    tr:first-child {
      height: 42px;
      opacity: 0;
    }
    tr:nth-child(4n - 3) {
      border-bottom: 1px solid #8c96ab;
    }
    tr:nth-child(2n) {
      border-bottom: 1px dashed #dadfea;
    }
    tr:nth-child(4n - 1) {
      border-bottom: 1px solid #dadfea;
    }
    th {
      padding: 0;
    }
    th:nth-child(2) span {
      border-radius: 11px 0 0 11px;
    }
    th:last-child span {
      border-radius: 0 11px 11px 0;
    }
    th span {
      width: 100%;
      background-color: #8c96ab;
      color: #fff;
      height: 35px;
      line-height: 35px;
      padding-left: 5px;
      padding-right: 5px;
      display: block;
    }
    td:not(:first-child) {
      border-left: 2px dotted #8ca0cb;
    }
    td:first-child {
      width: 60px;
    }
    td.appointment {
      color: #444c63;
      font-size: 18px;
      border-top: 4px solid #97b3ce;
      cursor: pointer;
    }
  }
  #calendar-patients {
    td.appointment {
      color: #444c63;
      font-size: 18px;
      border-top: 4px solid #97b3ce;
      cursor: pointer;
    }

    td:nth-child(2).appointment {
      background-color: #86fcad;
    }
    td:nth-child(3).appointment {
      background-color: #30a6a6;
    }
    td:nth-child(4).appointment {
      background-color: #f393d5;
    }
    td:nth-child(5).appointment {
      background-color: #d5fc86;
    }
    td:nth-child(6).appointment {
      background-color: #afe0bf;
    }
    td:nth-child(7).appointment {
      background-color: #edcea8;
    }
    td:nth-child(8).appointment {
      background-color: #f2bcc2;
    }
    td:nth-child(9).appointment {
      background-color: #86e5fc;
    }
  }
}
/*
#appointment-calendar-info #appointment-calendar,
#appointment-calendar-info #appointment-calendar-details {
  height: calc(100vh - 92px);
}

#all-calendar #events-index #calendar, #doctor-calendar #events-index #calendar,
#appointment-calendar-info #appointment-calendar {
  position: relative;
  width: 70%;
}
*/

