
<div class="doctors_box">
	<div class="image_box">
		<div class="bg_center_image round" style="background-image: url(<%= @doctor.photo.url %>);" data-image_urls="<%= @clinic.doctors.map{|a| [a.id, a.photo.url]}.to_h.to_json %>" id="doctor_img">
		</div>
		<p><%= select_field_tag "event[doctor_id]", @doctor.id, @doctors.map{|a| [a.id, a.name]}, id: "doctor_select" %></p>
	</div>
	<div class="title">
		選擇日期與時間
	</div>
</div>
