
<div class="time_box">
	<% i = 0 %>
	<% @doctor_day_segment_hour_events.each do |segment| %>
	<div class="segment_box">
		<div class="title">
			<%= segment[:name] %>
		</div>
		<% times = (60 / Clinic.default_duration) %>
		<% segment[:hour_minute_segments].in_groups_of(times).each do |hour_minute_segments| %>
		<ul class="hours_box">
			<% hour_minute_segments.each do |hour_minute_segment| %>
			<% hour = hour_minute_segment[:hour] %>
			<% minute = hour_minute_segment[:minute] %>
			<li class="minutes_box" data-click_duration_count="<%= @doctor_service.duration_number / Clinic.default_duration %>">
				<%= radio_button_tag "event[hour_minute_duration]", hour_minute_duration_format(hour, minute, @doctor_service.duration_number), false, disabled: !hour_minute_segment[:allow_booking]  %>
				<%= link_to hour_minute_format(hour, minute), "javascript:;", class: "", data: {index: i}, onclick: "window.onClickEventDuration(this);" %>
				<% i += 1 %>
			</li>
			<% end %>
		</ul>
		<% end %>
	</div>
	<% end %>
</div>