
<div class="time_box">
	<% i = 0 %>
	<% @doctor_day_segment_hour_events.each do |segment| %>
	<div class="segment_box">
		<div class="title">
			<%= segment[:name] %>
		</div>
		<% segment[:hour_minute_segments].each do |hour_minute_segment| %>
		<% hour = hour_minute_segment[:hour] %>
		<ul class="hours_box">
			<% hour_minute_segment[:minute_segments].each do |minute_segment| %>
			<% minute = minute_segment[:minute] %>
			<li class="minutes_box" data-click_duration_count="<%= @doctor_service.duration_number / Clinic.default_duration %>">
				<% events = minute_segment[:events] %>
				<% disabled = events.find{|e| e.is_valid_in_line?}.present? %>
				<%= radio_button_tag "event[hour_minute_duration]", hour_minute_duration_format(hour, minute, @doctor_service.duration_number), false, disabled: disabled %>
				<%= link_to hour_minute_format(hour, minute), "javascript:;", class: "", data: {index: i}, onclick: "window.onClickEventDuration(this);" %>
				<% i += 1 %>
			</li>
			<% end %>
		</ul>
		<% end %>
	</div>
	<% end %>
</div>