<div id="linebot_patients_form">
	<div class="inbox">
		<h1></h1>
		<div class="image_box">
			<%= image_tag linebot_static_image_url(:line_bound_success) %>
		</div>
		<div class="content_box">
			<div class="d_row">
				<h2>綁定成功</h2>
			</div>
			<div class="d_row">
				<h3><%= @patient.name %></h3>
				<p><%= @patient.phone %></p>
			</div>
			<div class="buttons_box">
				<%= link_to "加入linebot", @clinic.add_line_friend_path, class: "btnBu" %>
			</div>
		</div>
	</div>
</div>