
<div id="calendar_day">
  <div class="header">
  </div>
  <div class="table_box">
    <%= render partial: "clinics/events/common/event_duration_titles_col", locals: {
      row_height: row_height, 
      hours: @clinic_wday_hours
    } %>
    <% @doctor_week_hour_events.each do |doctor_week_hour_event| %>
    <%= render partial: "clinics/events/common/event_duration_values_col", locals: {
      title: proc do
        r = ""
        r += "<p style='line-height: #{row_height / 2}px;'>"
        r += "#{doctor_week_hour_event[:date].strftime('%d')}<br>"
        r += "#{doctor_week_hour_event[:ch_wday]}"
        r += "</p>"
        r.html_safe
      end.call,
      title_class: "day_row",
      hour_minute_segments: doctor_week_hour_event[:hour_minute_segments],
      row_height: row_height,
      doctor: @doctor,
      has_vacation: @doctor.has_vacation?(doctor_week_hour_event[:date]),
      onclick_event: proc do |event|
        "$.getScript('#{url_for(action: :edit, id: event)}');"
      end,
      onclick_new_event: proc do |hour, minute|
        # "$.getScript('#{url_for(action: :new, hour: hour, minute: minute)}');"
      end
    } %>
    <% end %>
  </div>
</div>

