
<div id="calendar_day">
  <div class="header">
  </div>
  <div class="table_box">
    <%= render partial: "clinics/events/common/event_duration_titles_col", locals: {
      row_height: row_height, 
      hours: @clinic_wday_hours
    } %>
    <% @doctor_objs.each do |doctor_obj| %>
    <%= render partial: "clinics/events/common/event_duration_values_col", locals: {
      title: doctor_obj[:doctor].name,
      title_class: "",
      hour_minute_segments: doctor_obj[:hour_minute_segments],
      row_height: row_height,
      doctor: doctor_obj[:doctor],
      has_vacation: doctor_obj[:doctor].has_vacation?(@date),
      onclick_event: proc do |event|
        "$.getScript('#{url_for(action: :edit, id: event)}');"
      end,
      onclick_new_event: proc do |hour, minute|
        # "$.getScript('#{url_for(action: :new, date: @date, hour: hour, minute: minute)}');"
      end
    } %>
    <% end %>
  </div>
</div>

