
<div id="calendar_day">
  <div class="header">
  </div>
  <div class="table_box">
    <%= render_relative_partial "common/title_col", locals: {
      row_height: row_height
    } %>
    <% @doctor_objs.each do |doctor_obj| %>
    <div class="d_col">
      <div class="d_row" style="height: <%= row_height %>px;">
        <%= doctor_obj[:doctor].name %>
      </div>
      <%= render_relative_partial "common/events_col", locals: {
        hour_segments: doctor_obj[:day_hour_events],
        row_height: row_height
      } %>
    </div>
    <% end %>
  </div>
</div>

