
<div id="calendar_day">
  <div class="header">
  </div>
  <div class="table_box">
    <%= render partial: "clinics/events/common/event_duration_titles_col", locals: {
      row_height: row_height, 
      hours: @clinic_wday_hours
    } %>
    <% @doctor_objs.each do |doctor_obj| %>
    <div class="d_col">
      <div class="d_row" style="height: <%= row_height %>px;">
        <%= doctor_obj[:doctor].name %>
      </div>
      <%= render partial: "clinics/events/common/event_duration_values_col", locals: {
        hour_segments: doctor_obj[:hour_segments],
        row_height: row_height,
        onclick_event: proc do |event|
          # "$.getScript('#{url_for(action: :edit, id: event)}');"
        end,
        onclick_new_event: proc do |hour, minute|
          # "$.getScript('#{url_for(action: :new, date: @date, hour: hour, minute: minute)}');"
        end
      } %>
    </div>
    <% end %>
  </div>
</div>

