<li id="line_template_<%= line_keyword[:id] %>" class="template_message_box">
	<div class="header">
		<span class="title">
			關聯句、字
		</span>
		<span class="words">
			3/30
		</span>
	</div>
	<div class="content">
		<div class="content_inbox">
			<div class="text_content">
				<%= text_field_tag "line_template[keywords_attributes][][name]", line_keyword.name %>
			</div>
		</div>
		<%= link_to icon_tag(:close_circle1), "javascript:", onclick: "$(this).closest('li').remove();" %>
	</div>
</li>
