<div id="member_created_lightbox" class="lightbox clinic_lightbox">
	<div class="inbox">
		<div class="header_box">
		</div>
		<div class="content_box">
			<h1><%= image_tag clinic_static_image_url(:checked_blue), class: "checked_blue" %></h1>
			<p>新增完成</p>
		</div>
		<div class="buttons_box">
			<%= link_to "確定", "javascript:window.location.reload();", class: "btnBu"%>
		</div>
	</div>
</div>
