#doctors-index {
  & > h1 {
    border-bottom: solid 1px #8c96ab;
  }

  & > div {
    margin-top: 3vh;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    color: #4a4a4a;
    font-size: 20px;
    text-align: center;
    tr {
      height: 60px;
      border-bottom: solid 1px #8c96ab;
      padding: 0 20px;
      cursor: pointer;
    }

    tr:hover {
      background-color: rgba(218, 223, 234, 0.15);
    }

    th {
      font-weight: normal;
    }

    tr:first-child {
      height: 30px;
      background-color: #8bdde8;
    }

    td:first-child {
      padding-left: 15px;
    }

    td:last-child {
      padding-right: 15px;
    }

    td span {
      font-size: 18px;
    }

    td img {
      width: 46px;
      height: 46px;
      border-radius: 23px;
      vertical-align: middle;
    }

    td i {
      font-size: 25px;
      color: #e56277;
    }
  }
  
  .button-box {
    a {
      width: 169px;
      height: 56px;
      line-height: 56px;
      padding: 0;
      float: right;
      margin-right: 20px;
    }
  }  
}
