
#clinic_knowledge_categories_index {
	.knowledge_categories_box {
		overflow-x: scroll;
		margin-right: 30px;
		ul.knowledge_categories {
			display: flex;
			li {
				min-width: 100px;
				text-align: center;
				a {
					color: $colorGy1;
					display: inline-block;
					width: 100%;
					border-bottom: 1px solid $colorGy1;
				}
				&.selected a {
					color: $colorBu;
					border-bottom: 3px solid $colorBu;
				}
				form {
					display: inline-block;
					width: 100%;
					border-bottom: 3px solid $colorBu;
					input {
						color: $colorBu;
						width: 100px;
						height: 30px;
					}				
				}
			}
		}
	}
}

