#patients_show {
	background: $colorGy_l;
	.content_box {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.main_box {
			background: $colorW;
			width: calc(100% - 300px);
			padding: 10px 100px;
			h1 {
				text-align: center;
				font-size: $fs_24p;
				margin-bottom: 20px;
			}
		}	
		.side_box {
			width: 300px;
			padding: 10px 10px;
			background: $colorBu_l;
		}		
	}
}

