#patients-show {
	background: $colorGy_l;
	#patients-nav {
		height: 60px;
		font-size: $fs_18p;
		line-height: 60px;
		padding: 0 20px;
		border-bottom: 1px solid #979797;
	}
	.patient-main-box {
		background: $colorW;
		width: 800px;
		padding: 10px 130px;
		.title {
			text-align: center;
			font-size: $fs_24p;
			font-weight: bold;
			padding: 20px 0;
		}
	}	
}

