#patients-show {
	background: $colorGy_l;
	display: flex;
	#patients-nav {
		height: 60px;
		font-size: $fs_18p;
		line-height: 60px;
		padding: 0 20px;
		border-bottom: 1px solid #979797;
	}
	.main_box {
		background: $colorW;
		width: calc(100% - 300px);
		padding: 10px 100px;
	}	
	.side_box {
		width: 300px;
		padding: 10px 10px;
	}
}

