
<div id="clinic_info_clinic_vacations" class="lightbox bg_width">
	<div class="inbox">
		<div class="header_box">
			休診時間系統
		</div>
		<%= render partial: "clinics/common/vacations_form", locals: {
			vacations: @clinic_vacations, 
			li: proc do |clinic_vacation|
				render_relative_partial "lightbox/tr", locals: {clinic_vacation: clinic_vacation}
			end
		} %>
		<div class="buttons_box">
			<%= link_to "離開", "javascript: $('#clinic_info_clinic_vacations').remove();", class: "btnW" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		if($("#clinic_info_clinic_vacations .main_box ul li").length > 0){
			$("#clinic_info_clinic_vacations .main_box ul li").eq(0).trigger("click");
		}
	})
</script>