
<div id="clinic_info_clinic_vacations" class="lightbox bg_width">
	<div class="inbox">
		<div class="header_box">
			休診時間系統
		</div>
		<%= render partial: "clinics/common/vacations_form", locals: {
			vacations: @clinic_vacations, 
			li_id: proc do |clinic_vacation|
				"clinic_vacation_#{clinic_vacation.new_record? ? "new" : clinic_vacation.id}"
			end,
			vacation_events_path: proc do |clinic_vacation|
				clinic_info_clinic_vacation_events_path(@clinic, clinic_vacation)
			end,
			leave_link: "javascript: $('#clinic_info_clinic_vacations').remove();"
		} %>
		<div class="buttons_box">
			<%= link_to "離開", "javascript: $('#clinic_info_clinic_vacations').remove();", class: "btnW" %>
		</div>
	</div>
</div>

