
<div class="doctors_box">
	<div class="image_box">
		<div class="bg_center_image round" style="background-image: url(<%= @doctor.photo.url %>);" data-image_urls="<%= @clinic.doctors.map{|a| [a.id, a.photo.url]}.to_h.to_json %>" id="doctor_img">
		</div>
		<p><%= select_field_tag "event[doctor_id]", @doctor.id, @clinic.doctors.map{|a| [a.id, a.name]}, id: "doctor_select" %></p>
	</div>
	<div class="title">
		選擇日期與時間
	</div>
</div>

<script type="text/javascript">
	$(fucntion(){
		$("#doctor_select").on("change", function(e){
			var doctorId = this.value;
			var url = window.location.href;
			if(url.indexOf('doctor_id') == -1){
				url = url + "&doctor_id=" + doctorId;
			} else {
				var value = url.split("doctor_id=")[1].split("&")[0];
				url = url.replace("doctor_id=" + value, "doctor_id=" + doctorId);
			}
			window.location.href = url;
			// var imageUrl = $("#doctor_img").data("image_urls")[doctorId];
			// $("#doctor_img").css("background-image", "url(" + imageUrl + ")");
		});
	})	
</script>
