#event-nav {
  font-size: 36px;
  color: #4a4a4a;
  letter-spacing: 2px;
  background-color: #eef1f7;
  margin: 0;
  text-align: right;
  line-height: 80px;
  width: 100%;
  height: 80px;
  padding: 0 20px;


   > i {
    border-radius: 10px;
    background-color: #dfe3ec;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 28px;
    color: #4d4d4d;
    position: relative;
  }

   .new {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #d0021b;
    position: absolute;
    top: 0;
    right: 0;
  }

   #search{
    width: 300px;
    height: 56px;
    line-height: 56px;
    margin-right: 5px; 
    border-radius: 10px;
    border: solid 1px #dadfea;
    display: none;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    background-color: #fff;
    text-align: left;
    padding-left: 1%; 
  }

   #search i {
    font-size: 29px;
    color: #8c96ab;
  }

   #search input {
    width: calc(96% - 30px);
    height: 54px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
  }

   #search input {
    font-size: 18px;
    color: #8c96ab;
    vertical-align: middle;
  }

   #news {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 100;
  }

   .news-inner {
    width: 30%;
    height: 100vh;
    box-shadow: -2px 2px 12px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #979797;
    background-color: #e3e7ee;
    margin-left: 70%;
    overflow: scroll;
  }

   .news-inner > div,
   .news-inner > ul {
    width: 90%;
    margin: 0 auto;
  }

   .news-inner > div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

   .news-inner ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #8c96ab;
  }

   .news-inner li {
    border-radius: 7px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    line-height: 58px;
    margin: 10px 0;
  }

   .news-inner li.seen {
    opacity: 0.6;
  }

   #reset-notify-form {
    display: none;
  }
}