
<aside id="doctor-sidemenu">
	<%= image_tag @doctor.photo.url, alt: @doctor.name %>
  <p>醫師姓名</p>
	<ul>
	<% [
		{name: "基本資料", selected: true},
		{name: "排診時段"},
		{name: "診療時程"},
		{name: "休假日期 "},
	].each do |elm| %>
		<% if elm[:selected] %>
    <li class="selected"><%= elm[:name] %></li>
		<% else %>
    <li><%= elm[:name] %></li>
		<% end %>
	<% end %>
  </ul>		
</aside>

