
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login_box", remote: true }) do |f| %>
	<h2>
		重新設定密碼
	</h2>
	<p class="subtext">
		輸入您的Email信箱，我們將會寄送”重新設定密碼“連結給您
	</p>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "輸入您的Email信箱" %>
  </div>

  <div class="actions">
    <%= f.submit "確認", class: "btnBu" %>
  </div>
<% end %>

