
#clinic_sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: $colorBu_d;
  color: $colorW;
  text-align: center;
  a {
  	color: $colorW;
  }
  .info {
  	height: 60px;
  	background: $colorBu;
  }
  ul {
		padding-top: 50px;
		li {
			position: relative;
			height: 80px;
			padding-top: 15px;
			a {
				i {
					display: block;
					text-align: center;
				}
			}
			&.selected {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $colorW;
					opacity: 0.5;
					z-index: 1;
				}
			}
		}
  }
  .bottom-box {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	line-height: 100px;
  	text-align: center;
  }
}