
#clinic_sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: $colorBu_d;
  color: $colorW;
  text-align: center;
  a {
  	color: $colorW;
  }
  .info {
  	height: 60px;
  	background: $colorBu;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
  	.bg_center_image {
  		width: 45px;
  		height: 45px;
  		border-radius: 50%;
  		margin: 0 auto;
      background-color: $colorGy_l;
  	}
  }
  ul {
		padding-top: 30px;
		li {
			position: relative;
      padding: 10px 0;
			a {
        .fixed_width_image {
          width: 25px;
          margin: 0 auto 5px;
        }
        p {
          font-size: $fs_14p;
          height: 20px;
          line-height: 20px;
        }
			}
			&.selected {
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $colorW;
					opacity: 0.5;
					z-index: 1;
          pointer-events: none;
				}
			}
		}
  }
  .bottom_box {
  	position: absolute;
  	bottom: 20px;
  	width: 100%;
  	line-height: 1;
  	text-align: center;
    p {
      font-size: $fs_12p;
    }
    .photo_box {
      margin-bottom: 10px;
      .bg_center_image {
        margin: 0 auto;
        width: 25px;
        height: 25px;
      }
    }
    .logout {
      img {
        width: 25px;
      }
      &:hover {
        p {
          color: $colorBu;
        }
      }
    }
  }
}