
<div id="show_page_nav">
	<ul>
		<% [
			{name: "病患列表(#{@clinic.patients.count})", link: clinic_patients_path(@clinic), category: "all"},
			{name: "回診推播列表(#{@clinic.clinic_patient_notifications.count})", link: clinic_patients_path(@clinic, category: "notification"), category: "notification"},
			].each do |elm|  %>
		<li class="<%= "selected" if elm[:category] == @category %>">
			<%= link_to elm[:name], elm[:link] %>
		</li>
		<% end %>
	</ul>
</div>

