<div id="table-box">
<%= render_relative_partial "table_box/table" , locals: {
  id: "patients",
  resources: @patients,
  cols: [
    {t: "病患姓名", v: proc{|a| a.name }},
    {t: "性別", v: proc{|a| a.gender }},
    {t: "出生年月日", v: proc{|a| a.person_id }},
    {t: "身分證號碼", v: proc{|a| a.birthday }},
    {t: "聯絡電話", v: proc{|a| a.gender }},
    {t: "看診醫生", v: proc{|a| a.gender }},
    {t: "已可洗牙", v: proc{|a| a.gender }},
    {t: "下次就診日期", v: proc{|a| a.gender }},
    {t: "加入推播狀態", v: proc{|a| a.gender }},
    {t: "", v: proc{|a| 
    	link_to "詳細#{icon_tag(:angle_right)}".html_safe, url_for(action: :show, id: a)
    }
  },
  ]
}
%>
</div>