<div id="patient_table_box">
  <%= render partial: "clinics/common/clinic_table" , locals: {
    id: "patients",
    class: "ht80",
    resources: @patients,
    cols: proc do 
      r = []
      if @category == "notification"
        r += [
          {t: check_box_tag("", "", false, class: "notification_check_all"), unclickable: true, v: proc{ |a, index| 
              event_notification = a.event_notifications.find{|a| a.category == "回診推播"} 
              r = check_box_tag("", "", false, class: "notification_check", data: {patient_id: a.id, args: {clinic_name: @clinic.name, patient_name: a.name}}, disabled: event_notification.present?)
              r.html_safe
            }
          },
          {t: "推播訊息狀態", v: proc { |a|
            event_notification = a.event_notifications.find{|a| a.category == "回診推播"} 
            if event_notification.present?
              r = "<p> #{event_notification.status} </p>"
              r += "<p class='fs10 colorGy1'> #{roc_format(event_notification.created_at, 3)} 已推播</p>"
              r.html_safe
            end
          }}
        ]
      end
      r += [
        {t: "病患姓名", v: proc{|a| "#{a.name} #{a.id}" }},
        {t: "性別", v: proc{|a| a.gender }},
        {t: "身分證號碼", v: proc{|a| a.person_id }},
        {t: "出生年月日", v: proc{|a| roc_format(a.birthday, 3) }},
        {t: "聯絡電話", v: proc{|a| a.phone }},
        {t: "看診醫生", v: proc{|a|
          if a.default_doctor
            a.default_doctor.name
          else
            ""
          end
        }},
        {t: "已可洗牙", v: proc{|a| 
          if a.available_for_tooth_cleaning 
            icon_tag(:circle, class: 'colorBu')
          else
            ""
          end
        }},
        {t: "下次就診日期", v: proc{|a| a.current_event.try(:date) }},
      ]

      if @category == "all"
        r += [
          {t: "加入推播狀態", unclickable: true, v: proc{|a| 
            render_relative_partial "table_box/notification", locals: {patient: a}
          }}
        ]
      end
     r
   end.call,
    row: {
      link: proc do |a|
        url_for(action: :show, id: a)
      end
    }
  }
  %>
</div>

<script type="text/javascript">
  $(function(){
    $("#patients_index").on("change", ".notification_check", function(){
      updateChecked(this);
      updateCount();
    });
    $("#patients_index").on("change", ".notification_check_all", function(){
      var checked = this.checked;
      $("#patients_index .notification_check").each(function(i, elm){
        $(elm)[0].checked = checked;
        updateChecked(elm);
      })
      updateCount();
    });

    window.pushNotification = function(){
      var selNotifications = $("#patient_table_box input.notification_check:checked").toArray().map(function(elm){
        var data = $(elm).data();
        return {
          patient_id: data.patientId,
          args: JSON.stringify(data.args)
        }
      });
      $.ajax({
        url: "<%= new_clinic_lightbox_event_notification_schedule_path(@clinic) %>",
        method: "get",
        data: {
          event_notification_schedule: {
            category: "回診推播",
            schedule_type: "立即發送",
            notifications_attributes: selNotifications
          }
        }
      })
    }

    function updateChecked(input){
      var checked = input.checked;
      $(input).siblings().each(function(i, elm){
        elm.checked = checked;
      })
    }

    function updateCount(){
      var count = $("#patients_index .notification_check:checked").length;
      $("#search_box .number").text(count);
    }
  })
</script>


