
<div class="events_box">
	<table>
		<% events.each do |event| %>
		<tr>
			<td><%= event.patient.name %></td>
			<td><%= roc_format(event.date,3) %></td>
			<td><%= event.duration_desc %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class="preview_box">
	<div class="sending_box">
		<%= link_to "送出", clinic_info_clinic_vacation_vacation_notifications_path(@clinic, @clinic_vacation), remote: true, class: "btnBu" %>
	</div>
</div>


