
<ul>
	<li>
		<div class="header">
			<span class="title">標題</span>
			<span class="words">
				3/30
			</span>
		</div>
		<div class="content">
			<%= text_field_tag "clinic_line_broadcast[title]", broadcast_title %>
		</div>
	</li>
</ul>



