
<ul>
	<li class="template_message_box">
		<div class="header">
			<span class="title">標題</span>
			<span class="words">
				3/30
			</span>
		</div>
		<div class="content">
			<div class="content_inbox">
				<div class="text_content">
					<%= text_field_tag "clinic_line_broadcast[title]", broadcast_title %>
				</div>
			</div>
		</div>
	</li>
</ul>



