<li class="template_message_box">
	<div class="header">
		<span></span>
		<span class="words">
			3/30
		</span>
	</div>
	<div class="content">
		<div class="content_inbox">
			<%= select_field_tag "line_template[category]", line_template_message.category, Line::TemplateMessage.category_names, class: "category" %> 
			<%= text_field_tag "line_template[template_messages_attributes][][content]", line_template_message.content %>
			<%# link_to "上傳", "javascript:;", class: "upload hidden" %>
		</div>
		<%= link_to icon_tag(:close_circle1), "javascript:", onclick: "$(this).closest('li').remove();" %>
	</div>
</li>


