<!DOCTYPE html>
<html>
	<head>
		<%= render_relative_partial "common/head" %>
	</head>
  <body id="accounts">
  	<div class="account_lightbox">
		<h1>歡迎</h1>
  	<div class="inbox">
	    <%= yield %>
	  </div>
  </body>
</html>
