<!DOCTYPE html>
<html>
	<head>
		<%= render_relative_partial "common/head" %>
	</head>
  <body id="accounts">
  	<div class="account_lightbox">
		<h1>歡迎</h1>
  	<div class="inbox">
	    <%= yield %>
	  </div>
	  <% if request.fullpath != member_session_path %>
	  <p class="back_to_login">
	  	<%= link_to "返回登入頁面", member_session_path, class: "underline" %>
	  </p>
	  <% end%>
  </body>
</html>
