<!DOCTYPE html>
<html>
	<head>
		<%= render_relative_partial "common/head" %>
	</head>
  <body id="accounts">
  	<div class="container">
  		<h1>Hello, Welcome to DentistBot</h1>
	    <%= yield %>
	  </div>
  </body>
</html>
