<!DOCTYPE html>
<html>
	<head>
		<%= render_relative_partial "common/head" %>
	</head>
  <body>
  	<%= render_relative_partial "clinics/side_menu" %>
  	<%= render_relative_partial "clinics/logout_lightbox" %>
  	<div id="clinic_container">
	    <%= yield %>
	  </div>
  </body>
</html>
