

<div id="log-out-modal">
  <div class="modal-inner">
    <p>確定登出？</p>
    
    <button class="cancel" onclick="dontShowLogOutModal()">取消</button>
    <button class="confirm">確定</button>
  </div>
</div>


