
<div id="linebot" class="pv4">
	<%= render_relative_partial "new/message_form" %>
	<%# render_relative_partial "new/verification_form" %>
	<%# render_relative_partial "new/welcome_form" %>
	<div class="border mb5 ph5 pv5">
		結果
		<div id="result">
		</div>
	</div>
</div>

